body{
    background-color: #46384a;
    margin: 0;
}

.mainSquare{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F5F5F5;
    border-radius: 10px;
    min-width: 300px;
    max-width: 820px;    
    height: 520px;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dieGame{
    flex-direction: row;
    flex-wrap: wrap;
}

.titleSquare{
    font-family: 'Karla', sans-serif;
    font-size: 3em;
}

.descriptionSquare{
    font-family: 'Inter', sans-serif;      
    margin: 0 40px;
    line-height: 16px;
}

.dieGame{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    margin-top: 40px;    
    justify-items: center;
}

.dieGameCard{
    display: inline-block;
    width: 30px;
    height: 32px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px 15px;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}

.rollButton{
    margin-top: 40px;
    width: 160px;
    height:60px;
    background-color:#8f3ca6;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-size: 2.0em;    
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rollButton:hover{
    background-color: #bf53dd;
}
.dieGameCard:hover{
    background-color: #bf53dd65;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    cursor: pointer;
}

.dieGameCardIsHeld{
    display: inline-block;
    width: 30px;
    height: 32px;
    background-color: #bf53dd;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px 15px;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.tenziesTime{
    margin-top: 10px;
}

.best-time{
    margin-top: 10px;
}
